@{
    ViewData["Title"] = "Coach's Words";
}
<h2>@ViewData["Title"].</h2>


<iframe src="https://vid.me/e/Zcpd?stats=1" width="854" height="480" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen scrolling="no"></iframe>
